html {
	background-color: #9A361A;
}

header#reclaimed-america img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

header#reclaimed-america {
	margin-right: auto;
	margin-left: auto;
	}

div#reclaimed-america {
	width: 900px;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
	}
	
#reclaimed-america p {
	width: 500px;
	text-align: justify;
}

#gallery img {
	height: 200px;
	text-align:center;
	}
	
ul.social {
	margin: auto;
	line-height: 1.4;
	padding: 0px;
	}
	
.social li {
	display:inline;
	text-align:center;
	}
	
.social img {
	width: 60px;
	height: 60px;
	}

body {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	border: 7px solid #C44122;
}	

#jcrr {
	background-image: url('bg.gif');
	background-repeat: repeat-x;
	height:480px;
}

p {
	font: georgia, serif;
	font-size: 12pt;
	}
	
body p {
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
}
	
#right-col {
	width: 448px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	float:right;
}

#jcwoodworking a img.logo {
	width: 200px;
}
	
#left-col {
	width: 448px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	float:left;
}

#reclaimed-relics a img.logo {
	width: 200px;
}

h4 {
	font-size: 22px;
	color: #CAC6A1;
	text-shadow: 1px 1px 1px white;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px white;
}

#breadcrumbs {
height: 40px;
}

#email-signup {
	float: left;
	background: url(images/search-bg.png) no-repeat;
	height: 37px;
	margin-top: -11px;
}

#email-submit {
	background: url(images/search_btn.png) no-repeat;
	width: 87px;
	height: 38px;
	border: none;
	font-size: 16px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	padding-bottom: 7px;
	font-family: Georgia,serif;
	line-height: 33px;
}

#breadcrumbs { background: url(images/breadcrumbs-bg.png) repeat-x; height: 72px; color:#766255; font-size: 14px; text-shadow: 1px 1px 1px #ffffff; text-transform: uppercase; font-style: normal; padding-left: 20px;}

		#breadcrumbs-text { float: left; width: 685px; }

	#breadcrumbs .container { padding-top: 30px; background: url(images/breadrcumbs-top-shadow.png) no-repeat 0 2px; }				

		#breadcrumbs-shadow { background: url(images/quote-shadow.png) no-repeat; width: 960px; height: 8px; left: 0px; bottom: -23px; position: absolute; }

			#breadcrumbs a { color:#b4a48d; text-decoration: none; }

				#breadcrumbs a:hover { color: #766255; }

				#breadcrumbs .raquo { color:#b4a48d; }